  /*=============== HOME ===============*/
  .home__container{
    position: relative;
    padding-block: 7rem 1rem;
    row-gap: 2.5rem;
  }
  .home__content{
    position: relative;
    display: grid;
    justify-self: center;
  }
  .home__img{
    width: 220px;
  }
  .home__title{
    font-size: var(--biggest-font-size);
    display: flex;
    column-gap: .25rem;
    color: var(--first-color);
    position: absolute;
    top: -2rem;
    justify-self: center;
  }
  .home__title span:nth-child(2){
    z-index: -1;
  }
  .home__tooltip{
    position: absolute;
    top: -.5rem;
    right: 1.5rem;
  }
  .home__tooltip-img{
    width: 60px;
  }
  .home__tooltip-text{
    background: var(--gradient-color);
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    border-radius: 4rem;
    font-size: var(--small-font-size);
    position: absolute;
    transform: translate(60px,-40px);
    white-space: nowrap;
  }
  .home__social{
    position: absolute;
    display: grid;
    justify-items: center;
   
    row-gap: 5rem;
  
    top: 9rem;
    left: -1.5rem;
  }
  .home__social-text{
    
    rotate: 90deg;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    
  }
  .home__social-text::after{
  content: ' ';
  width: 48px;
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  top: 0;
  bottom: 0;
  margin-block: auto;
  right: -65px;

  }
  .home__social-links{
   
    display: grid;
    
    row-gap: .75rem;
  }
  .home__social-link{
    font-size: 1.25rem;
    color: var(--text-color);
    transition: color .4s;
  }
  .home__social-link:hover{
    color: var(--first-color);
  }
  .home__button{
    justify-self: center;
  }