  /*=============== FAVORITE ===============*/
  .favorite__container{
    padding-top: 2rem;
   text-align: center;
 

  }
  
  .favorite__article{
    position: relative;
    width: 220px;
 
    
   

    display: grid;
    justify-items: center;
    filter: blur(8px);
    scale: .8;
    transition: filter .3s ,scale .3s;
  }
  .favorite__img{
    width: 220px;
    margin-bottom: 1.5rem;
  }
  .favorite__model{
    background: var(--gradient-color);
    padding: .5rem 1.5rem;
    border-radius: 4rem;
    color: var(--white-color);
    
  }
    /* Swiper class */
    .swiper-slide-active,
    .swiper-slide-duplicate-active{
      filter: blur(0);
      scale: .9;
    }
   